.cosmos *:not(.force-radius) {
    border-radius: 0 !important;
}

.cosmos * {
    box-shadow: none;
}

.cosmos .card {
    box-shadow:
        1px 1px 0 1px var(--color-ui),
        -1px -1px 0 1px var(--color-shad-ui);
}

.cosmos .switch::after {
    border-radius: 0;
    width: .8em;
    height: .8em;
    margin: .2em;
}

.cosmos input[type=checkbox]:checked + .switch::after {
    transform: rotate(135deg);
}

.cosmos .nya-confirm-input .input:hover,
.cosmos .nya-confirm-input .input:focus {

}

.cosmos .badge {
    box-shadow:
        1px 1px 0 1px var(--color-ui),
        -1px -1px 0 1px var(--color-shad-ui);
}

.cosmos .badge:hover {
    background-color: ;
}
