.number {
    color: var(--color-num);
    font-family: serif;
}

.order {
    color: var(--color-order);
}

.id {
    color: var(--color-order);
    font-family: serif;
}
.id::before {
    content: '#';
}

.correct, svg.button.correct {
    color: var(--color-correct);
}
.half-correct, svg.button.half-correct {
    color: var(--color-half-correct);
}
.wrong, svg.button.wrong {
    color: var(--color-wrong);
}

.glowing {
    padding: .8em;
    border-radius: .5em;
    background: var(--color-ui-bg);
    box-shadow: 0 0 .2em #ffe6d14d;
}

.badge {
    display: inline-block;
    margin: .2em;
    padding: .2em .3em;
    border-radius: .4em;
    line-height: 1.1;
    color: var(--color-ui);
    box-shadow: 0 0 .4em #faad704d;
    cursor: pointer;
    user-select: none;
    transition: .3s background-color;
    white-space: nowrap;
    transition: .3s color, .3s background-color;
}
.badge.active {
    color: var(--color-bg);
    background-color: var(--color-ui);
}
.badge:hover {
    color: var(--color-ui-act);
    background-color: var(--color-bg);
}
.badge.active:hover {
    background-color: var(--color-ui);
}

@keyframes barber {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 25px;
    }
}
.barber {
    background-image: linear-gradient(
        -45deg,
        var(--color-bg) 0, var(--color-bg) 25%, var(--color-ui-bg) 25%, var(--color-ui-bg) 50%,
        var(--color-bg) 50%, var(--color-bg) 75%, var(--color-ui-bg) 75%, var(--color-ui-bg) 100%
    );
    background-size: 25px 25px;

    animation: barber .5s linear infinite;
}

.barber-super {
    background-image: linear-gradient(
        -45deg,
        var(--color-bg) 0, var(--color-bg) 25%, var(--color-order) 25%, var(--color-order) 50%,
        var(--color-bg) 50%, var(--color-bg) 75%, var(--color-order) 75%, var(--color-order) 100%
    );
    background-size: 25px 25px;

    animation: barber .5s linear infinite;
}

.w1 {
    width: 5em;
}
.w2 {
    width: calc(5em * 2 + 1em);
}
.w3 {
    width: calc(5em * 3 + 2em);
}

.center {
    text-align: center;
}

.scroll-x {
	overflow-x: auto;
    scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
    display: none;
}

.scroll-y {
	overflow-y: auto;
    scrollbar-width: none;
}

.scroll-y::-webkit-scrollbar {
    display: none;
}

.no-select {
    user-select: none;
}
