.card {
    box-sizing: border-box;
    padding: .8em;
    background-color: #fffaf6;
    border-radius: .8em;
    box-shadow: 0 0 .4em #faad704d;
}
.card.light {
    background-color: #fff;
}
.card.deep {
    background-color: #ffe0c8;
}


input.card[type=number]::-webkit-inner-spin-button, 
input.card[type=number]::-webkit-outer-spin-button { 
    appearance: none;
}
input.card[type=number] {
    appearance: textfield;
}
input.card {
    padding: .5em .8em;
    border-radius: .8em;

    color: #db8e30;
    background-color: #fffaf6;
    box-shadow: 0 0 .4em #faad704d;
    transition: .5s color, .5s background-color, .5s box-shadow;
}
input.card:focus {
    background-color: #fff;
    box-shadow: 0 0 .4em #faae70ef;
}
input.card.up {
    background-color: #fff;
}

button.card, .checkbox.card {
    user-select: none;
    cursor: pointer;
    color: #db8e30;
    transition: .5s color, .5s background-color, .5s box-shadow;
}
button.card:enabled:hover, button.card:enabled:active,
.card.checkbox:hover {
    color: #f7b96e;
    background-color: #fff;
    box-shadow: 0 0 .4em #faae70ef;
}
button.card:disabled {
    cursor: not-allowed;
}
button.card:disabled > * {
    color: #aaa;
}

.card.active,
.checkbox-label > input:enabled:checked + .card.checkbox {
    color: #fff;
    background-color: #db8e30;
}
button.card.active:hover,
.checkbox-label > input:enabled:checked + .card.checkbox:hover {
    background-color: #f7b96e;
    color: #fff;
}

.inline.card {
    display: inline-block;
}
.inline.card:not(:last-of-type) {
    margin-right: 1em;
}
