:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color-scheme: light;
    color: #213547;
    background-color: #ffffff;

    --ja-serif: 'Noto Serif CJK JP', serif;
}

* {
    outline: none;
}

a {
    display: inline-block;
    user-select: none;
    font-weight: 500;
    color: #db8e30;
    text-decoration: inherit;
    transition: .3s color;
}
a:not(.no-animation):hover {
    color: #f4a23e;
    animation: .3s hop;
}

em {
    color: #db8e30;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

main {
    padding: 0 1em;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-size: 1.6em;
    color: #db8e30;
}
h2::before {
    content: '♯ ';
}
h2::after {
    content: ' ♯';
}

input {
    border: none;
}

svg.button {
    color: #db8e30;
    padding: 0 .4rem;
    cursor: pointer;
    transition: .3s color;
}
svg.button:not(.no-animation) {
    animation: .3s hop;
}
svg.button:hover {
    color: #f4a23e;
}
svg.button:active {
    animation: none;
}

input.card[type=number]::-webkit-inner-spin-button, 
input.card[type=number]::-webkit-outer-spin-button { 
    appearance: none;
}
input.card[type=number] {
    appearance: textfield;
}
input.card {
    padding: .8em;
    border-radius: .8em;

    color: #db8e30;
    background-color: #fffaf6;
    box-shadow: 0 0 .4em #faad704d;
    transition: .5s color, .5s background-color, .5s box-shadow;
}
input.card:focus {
    background-color: #fff;
    box-shadow: 0 0 .4em #faae70ef;
}
input.card.up {
    background-color: #fff;
}
